@import './node_modules/bootstrap/scss/bootstrap.scss'; 
@import './node_modules/font-awesome/scss/font-awesome.scss';
$aqua: #3BAFDA;
$blue: #5D9CEC;
$white: #fff;
$darkGrey: #434A54;
$medGrey: #AAB2BD;

body {
    background-image: url('../assets/survey.jpg');
    background-size: cover;
}

@for $i from 1 through 4 {
    .pt-#{$i} { 
        padding-top: $i * 5;
    }
    .pr-#{$i} { 
        padding-right: $i * 5;
    }
    .pl-#{$i} { 
        padding-left: $i * 5;
    }
    .pb-#{$i} { 
        padding-bottom: $i * 5;
    }

    .mt-#{$i} { 
        margin-top: $i * 5;
    }
    .mr-#{$i} { 
        margin-right: $i * 5;
    }
    .ml-#{$i} { 
        margin-left: $i * 5;
    }
    .mb-#{$i} { 
        margin-bottom: $i * 5;
    }
}

.content-bg {
    background-color: rgba(51,51,51,0.1);
}

.text-aqua {
    color: $aqua;
}

#root {
    padding-bottom: 15px;
}

.main-title {
    font-size: 1.5rem;
}

.ghost {    
    background: $darkGrey;
    color: $white;
}

#questionsList {
    height: 100%;
    .card {
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
        .options .option {
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        h5 {
            .fa {
                font-size: 16px;
            }
        }
        .fa-arrows {
            color: $medGrey;
        }
    }
}
#questionTypes {
    position: sticky;
    top: 20px;
    .questionType {
        padding: 5px;
        background-color: $white;
        margin-bottom: 2%;
        width: 49%;
        font-size: 14px;
        cursor: move;
        &:nth-child(odd) {
            margin-right: 2%;
        }
        .fa {
            margin: 0 10px;
            color: $blue;
            font-size: 16px;
        }
    }
}